# Data structures

Data structures are way to, well, as the name says structure your data. Or, as [Wikipedia](https://en.wikipedia.org/wiki/Data_structure "Wikipedia Data Structures") puts it:

> In computer science, a data structure is a data organization, management, and storage format that enables efficient access and modification.

We will cover the following data structures in this tutorial:

1. Tuples
2. Sets
3. Dictionaries
4. Arrays

|                   | Ordered | Mutable |
| :--------------:  |  :---:  | :-----: |
| **Tuples**        |   Yes   |   No    |
| **Sets**          |   No    |   No    |
| **Dictionaries**  |   No    |   Yes   |
| **Arrays**        |   Yes   |   Yes   |

#### What do "ordered" and "mutable" mean anyway ?

**Ordered:** You can tell Julia « take the third element in my array / tuple ».\
**Mutable:** You can tell Julia « change this element of my array/dictionary to 42 ».

## Tuples

In [1]:
my_tup = ("ABC", "easy as one two three")

("ABC", "easy as one two three")

In [2]:
my_tup[1] = "DEF" # doesn't work, tuples are immutable

LoadError: MethodError: no method matching setindex!(::Tuple{String, String}, ::String, ::Int64)

## Sets
Similar to a mathematical set. Elements are unique.

In [3]:
my_set = Set([1, 1, 2, 3])

Set{Int64} with 3 elements:
  2
  3
  1

In [4]:
my_set[1]

LoadError: MethodError: no method matching getindex(::Set{Int64}, ::Int64)

## Dictionaries
Format is `Dict(key1 => value1, key2 => value2, ...etc)`

In [5]:
prices = Dict("oranges" => 3.5, "apples" => 1.5, "bananas" => 4.0)

Dict{String, Float64} with 3 entries:
  "oranges" => 3.5
  "bananas" => 4.0
  "apples"  => 1.5

In [6]:
for k in keys(prices)
    println("$k cost $(prices[k]) €")
end

oranges cost 3.5 €
bananas cost 4.0 €
apples cost 1.5 €

In [7]:
for v in values(prices)
    println("One of the items costs $v €")
end

One of the items costs 3.5 €
One of the items costs 4.0 €
One of the items costs 1.5 €

In [8]:
coll = collect(prices) # "array" of elements of a dict

3-element Vector{Pair{String, Float64}}:
 "oranges" => 3.5
 "bananas" => 4.0
  "apples" => 1.5

In [9]:
coll[1]

"oranges" => 3.5

In [10]:
d1 = Dict(1 => "a", 2 => "b") ; d2 = Dict(2 => "b", 3 =>"c", 4 => "d")
display(d1)
display(d2)

Dict{Int64, String} with 2 entries:
  2 => "b"
  1 => "a"

Dict{Int64, String} with 3 entries:
  4 => "d"
  2 => "b"
  3 => "c"

In [11]:
union(d1, d2)

4-element Vector{Pair{Int64, String}}:
 2 => "b"
 1 => "a"
 4 => "d"
 3 => "c"

In [12]:
intersect(d1, d2)

1-element Vector{Pair{Int64, String}}:
 2 => "b"

In [13]:
setdiff(d2, d1)

2-element Vector{Pair{Int64, String}}:
 4 => "d"
 3 => "c"

## Arrays
**Recall:** Arrays are mutable and ordered...life is beautiful !\
**Syntax:** Use square brackets ` [  ] ` and separate elements by a comma `,`

In [14]:
cities = ["Paris", "Nice", "Monaco"]

3-element Vector{String}:
 "Paris"
 "Nice"
 "Monaco"

In [15]:
pi = [3, 1, 4, 1, 5, 9]

6-element Vector{Int64}:
 3
 1
 4
 1
 5
 9

In [16]:
println("the type of 1.0 is ", typeof(1.0))
println("the type of \"hell of a mess\" is ", typeof("hell of a mess"))
println("the type of 4 is ", typeof(4))
println("the type of \'u\' is ", typeof('u'))

the type of 1.0 is Float64
the type of "hell of a mess" is String
the type of 4 is Int64
the type of 'u' is Char

In [17]:
user_input_is = [1.0, "hell of a mess", 4, 'u']

4-element Vector{Any}:
 1.0
  "hell of a mess"
 4
  'u': ASCII/Unicode U+0075 (category Ll: Letter, lowercase)

In [18]:
[2*x for x in 1:4] # array comprehension

4-element Vector{Int64}:
 2
 4
 6
 8

In [19]:
arr = [2*x + 3*y + z for x in 1:4 for y in 1:3 for z in 1:3] # multiple comprehensions

36-element Vector{Int64}:
  6
  7
  8
  9
 10
 11
 12
 13
 14
  8
  9
 10
 11
  ⋮
 16
 17
 18
 12
 13
 14
 15
 16
 17
 18
 19
 20

In [20]:
arr2 = []
for x in 1:4
    for y in 1:3
        append!(arr2, 2*x + 3*y)
    end
end

In [21]:
arr2

12-element Vector{Any}:
  5
  8
 11
  7
 10
 13
  9
 12
 15
 11
 14
 17